<div class="app">
  <div class="nav">
    <div class="title">
      Ngx-React-Query Examples
    </div>
    <nav>
      <a routerLink="basic" routerLinkActive="active">Basic query</a>
      <a routerLink="url-params" routerLinkActive="active">Query with params</a>
      <a routerLink="multiple-observers" routerLinkActive="active">Multiple observers</a>
      <a routerLink="master-detail" routerLinkActive="active">Master-detail queries</a>
    </nav>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="side">
    <div class="panel debug">
      <div class="title">
        Log
        <button class="title-btn" (click)="debug.clear()">clear</button>
      </div>
      <div class="panel-body">
        <query-log #debug></query-log>
      </div>
    </div>
    <div class="panel info">
      <div class="title">
        Queries
      </div>
      <div class="panel-body">
        <query-info></query-info>
      </div>
    </div>
  </div>
</div>