.item {
    padding: 5px;
    border-bottom: 1px solid #eee;
    .key {
        font-weight: 600;
    }
    .status {
        font-size: 0.7rem;
        padding: 2px 4px;
        background-color: #006bff;
        color: white;
        border-radius: 2px;
    }
}