html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
}

.example-title {
    background-color: #cfdffe;
    font-size: 16px;
    font-weight: 600;
    padding: 1rem;
    margin: -1rem;
    margin-bottom: 0;

    a {
        color: #666;
        display: inline-block;
        font-size: 0.8rem;
        text-decoration: none;
        border: 1px solid #666;
        padding: 2px 4px;
        border-radius: 2px;
    }
}

.btns {
    display: flex;
    gap: 0.5rem;
}