<div *ngIf="$any(users$ | async) as users">
  <div>
    <b>{{ users.status }}</b>
    <button (click)="getData()">get data</button>
    <button (click)="getCache()">get cache</button>
    <button (click)="refetch()">refetch</button>
  </div>
  <div *ngFor="let user of users.data">
    {{ user.name }}
    <button (click)="loadUser(user.id)">load</button>
  </div>
</div>
<div *ngIf="$any(user$ | async).data as user">
  <ul>
    <li>id: {{ user.id }}</li>
    <li>name: {{ user.name }}</li>
    <li>created at: {{ user.createdAt | date }}</li>
  </ul>
</div>
